/* 关于我的部分 */
#about-section-wrap {
    display: flex;
    justify-content: space-around;
}

#about-section-img {
    padding: 40px 20px;

}

#about-section-img img {
    width: 36vw;
    height: auto;
}

.section-content {
    padding: 40px 20px;
    color: rgb(70, 70, 70);
    line-height: 1.7em;
    font-size: 17px;
}

#about-section-tag-wrap {
    padding: 10px 20px;
    line-height: 2em;
}

#about-section-tag-wrap i {
    font-size: 20px;
    padding-right: 5px;
}

.about-section-tag {
    border: 1px solid #3DA3F4;
    color: #3DA3F4;
    width: auto;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 15px;
    transition: color 0.5s, background-color 0.5s, border 0.5s;
}

.about-section-tag:hover {
    color: white;
    background-color: #3DA3F4;
}

#dl-resume-btn-wrap {
    position: absolute;
    transform: translate(20px, 110px);
}

.dl-resume-btn {
    height: 40px;
    border: 1px solid #3DA3F4;
    color: #3DA3F4;
    font-size: 15px;
    border-radius: 25px;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
    transition: border 0.5s, color 0.5s, background-color 0.5s;
}

.dl-resume-btn:hover  {
    border: 1px solid rgba(0, 0, 0, 0);
    color: white;
    background-color: #3DA3F4;
}

.dl-resume-btn i {
    padding-left: 10px;
}