/* 联系部分 */
#contact-section-block-wrap {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    text-align: center;
    row-gap: 30px;
}

.contact-section-block h4 {
    font-size: 20px;
    padding: 20px;
}

.contact-section-block img {
    width: auto;
    height: 35px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    padding: 50px;
}

#contact-showcase {
    padding-top: 100px;
    background: url("/resource/contact-bg.jpg") no-repeat center center fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}