* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;

  transition: all 1s;
}
.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;

  transition: all 1s;
}
