/* 技能栏 */
.skill-section-block {
    text-align: center;
    padding: 0 20px;
    line-height: 1.6em;
}

#skill-section-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.skill-section-block-title {
    font-size: 20px;
    padding: 20px 0;
}

.skill-section-block img {
    width: auto;
    height: 100px;
    padding: 40px 0;
}

.skill-section-block-content {
    font-size: 17px;
}