/* 脚注 */
#footer-section {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(237, 236, 236);
    background-color: rgb(31, 31, 31);
}