/* 个人信息简介部分 */
#intro-section {
    display: flex;
    margin-top: 150px;
    margin-bottom: 100px;
    justify-content: space-around;
}

/* 圆圈 */
#rotate {
    width: auto;
    height: 350px;
    border-radius: 50%;
    border: 1px solid #3DA3F4;
    transform: rotate(-360deg);
    animation: rotatetest 4s infinite;
}

#rotate-wrap {
    position: relative;
}

/* 圈圈外框无限旋转动画 */
@keyframes rotatetest {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* 头像显示 在圈圈中心 */
#profile-img {
    width: auto;
    height: 310px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#intro-hey {
    background-color: #3DA3F4;
    color: white;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 35px 35px 0px;
    margin-bottom: 30px;
}

#intro-section h2 {
    font-size: 65px;
    font-weight: bold;
    color: rgb(70, 70, 70);
}

/* #highlight {
    color: #3DA3F4;
} */

#intro-section h4 {
    font-size: 22px;
    color: rgb(70, 70, 70);
    margin-top: 10px;
}

.intro-contact-wrap {
    margin-top: 30px;
}

.intro-contact-block {
    display: flex;
    padding: 8px 0px;
    width: 400px;
}

.intro-contact-block img {
    width: auto;
    height: 20px;
}

.intro-contact-block p {
    padding: 0 20px;
    font-family: 'Quicksand', sans-serif;
}

.intro-contact-block i {
    padding-right: 10px;
    transition: color 0.3s;
}

.intro-contact-block i:hover {
    color: #3DA3F4;
}

/* 社交媒体按钮信息 */
.intro-sc-icon {
    height: 20px;
    transform: translateX(-20px);
    margin: 10px 0;
}

.btn {
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    /* background: #f1f1f1; */   /* 如果想要背景色就打开 */
    margin: 10px;
    border-radius: 30%;
    color: #000000;
    overflow: hidden;
    position: relative;
}

.btn i {
    line-height: 50px;
    font-size: 24px;
    transition: 0.2s linear;
}

.btn:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3DA3F4;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }

    50% {
        left: 10%;
        top: -30%;
    }

    100% {
        top: -10%;
        left: -10%;
    }
}