
/* 用户点击时取消蓝色边界线 */
video:focus {
    outline: 0;
}

/* 视频播放器中心 */
.video-player {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: 2;
    display: none;
}

/* 视频背景黑布 */
.video-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.video-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 50px;
    justify-items: center;
    padding-top: 40px;
}


/* 视频预览  */
.video-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.video-preview-wrap {
    position: relative;
    max-width: 400px;
}

/* 视频信息 */
.video-title {
    font-weight: bold;
    padding: 10px 0;
    transition: color 0.6s;
    display: inline-block;
}

.video-title:hover {
    color: #3DA3F4;
}

.video-info {
    font-size: 14px;
    white-space: pre-line;
    line-height: 18px;
    letter-spacing: 0;
    color: #212121;
    padding: 10px 0;
    padding-right: 10px;
}

/* 视频标签 */
.video-tag-wrap {
    display: flex;
}

.video-tag {
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 7px;
    font-size: 12px;
    margin-right: 5px;
    border-radius: 25px;
    background-color: #f4f4f4;
    color: #505050;
    transition: border 0.5s, color 0.5s;
    cursor: pointer;
}

.video-tag:hover {
    border: 1px solid #3DA3F4;
    color: #3DA3F4;
}

.video-social-wrap {
    padding: 20px 0;
}

.video-social-wrap i {
    padding-right: 20px;
    font-size: 20px;
    color: #505050;
    transition: color 0.5s;
}

.video-social-wrap i:hover {
    color: #3DA3F4;
}

