* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

/* 所有div的padding上下都是50px 左右margin 50px */
.module-layout {
    margin: 0 100px;
    padding: 50px 0;
}

/* 所有section统一padding20px */
.section-title {
    text-align: center;  
    font-size: 40px;
    padding: 20px 10px;
    color: rgb(21,21,21);
}

